<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/student/<%= userid %>/viewProject/<%= sectioninfo.id %>">
                    <%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %> (Section <%=
                                sectioninfo.sectionNum %>)
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= sectioninfo.haveProject[0].projectName %>
            </li>
        </ol>
    </nav>

    <br>


    <!-- My Evaluation -->
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="allEvaluation-tab">


        <h3><svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor"
                class="bi bi-calendar4-week text-info" viewBox="0 0 16 16">
                <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                <path
                    d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
            </svg> &nbsp;My Evaluation Event</h3>

        <table class="table table-bordered">
            <thead style="vertical-align: middle;">
                <tr class="table-secondary">
                    <th scope="col" span="1" style="text-align: center; width: 25%;">Evaluation Title</th>
                    <th scope="col" span="1" style="text-align: center; width: 8%;">Group
                    </th>
                    <th scope="col" span="1" style="text-align: center; width: 17%;">Due Date</th>
                    <th scope="col" span="1" style="text-align: center; width: 10%;">Status</th>
                    <th scope="col" span="1" style="text-align: center; width: 8%;"> </th>
                </tr>
            </thead>
            <tbody>

                <% if (eventInfo.haveEvent.length> 0) { %>

                    <!-- Ensure that person has group -->
                    <% if (inGroup.length> 0) { %>

                        <% var n=0; %>

                            <% responseInfo.forEach( function(event) { %>

                                <% var s=false; %>

                                    <% if(event.completedResponse.length> 0) { %>

                                        <!-- Check the status -->
                                        <% event.completedResponse.forEach( function(response) { %>

                                            <% if (response.evaluator==userid && response.eventid==event.id) { %>

                                                <% s=true %>

                                                    <% } %>
                                                        <% }); %>


                                                            <% if (s==false) { %>

                                                                <tr>
                                                                    <td style="text-align:center">
                                                                        <%= event.eventName %>
                                                                    </td>
                                                                    <td style="text-align:center">
                                                                        Group <%= inGroup[0].groupNum %>
                                                                    </td>
                                                                    <td style="text-align:center">
                                                                        <%= new Intl.DateTimeFormat('en-GB', {
                                                                            dateStyle: 'medium' , timeStyle: 'short' ,
                                                                            hour12: 'true' }).format(event.dueDate) %>
                                                                    </td>


                                                                    <% if(event.dueDate> new
                                                                        Date().getTime() ) { %>
                                                                        <td style="text-align:center">
                                                                            <span
                                                                                class="badge rounded-pill bg-success">In-progress</span>
                                                                        </td>

                                                                        <td style="text-align:center">
                                                                            <a
                                                                                href="/section/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/group/<%= inGroup[0].id %>/event/<%= event.id %>">Start</a>
                                                                        </td>
                                                                        <% } else { %>

                                                                            <td style="text-align:center">
                                                                                <span
                                                                                    class="badge rounded-pill bg-danger">&nbsp;Late&nbsp;</span>
                                                                            </td>

                                                                            <% if( new Date().getTime()>
                                                                                event.releaseDate ) { %>

                                                                                <td style="text-align:center">
                                                                                    <button class="btn btn-link"
                                                                                        style="text-decoration: none; padding: 0px;"
                                                                                        data-bs-toggle="modal"
                                                                                        data-bs-target="#exampleModal">Start</button>
                                                                                </td>

                                                                                <% } else { %>

                                                                                    <td style="text-align:center">
                                                                                        <a
                                                                                            href="/section/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/group/<%= inGroup[0].id %>/event/<%= event.id %>">Start</a>
                                                                                    </td>
                                                                                    <% } %>


                                                                                        <% } %>

                                                                                            <% n++ %>

                                                                                                <% } %>



                                                                                                    <% } else { %>

                                                                                                        <!-- Display for the 1st evalResponse -->

                                                                                                        <td
                                                                                                            style="text-align:center">
                                                                                                            <%= event.eventName
                                                                                                                %>
                                                                                                        </td>
                                                                                                        <td
                                                                                                            style="text-align:center">
                                                                                                            Group <%=
                                                                                                                inGroup[0].groupNum
                                                                                                                %>
                                                                                                        </td>
                                                                                                        <td
                                                                                                            style="text-align:center">
                                                                                                            <%= new
                                                                                                                Intl.DateTimeFormat('en-GB',
                                                                                                                {
                                                                                                                dateStyle: 'medium'
                                                                                                                ,
                                                                                                                timeStyle: 'short'
                                                                                                                ,
                                                                                                                hour12: 'true'
                                                                                                                }).format(event.dueDate)
                                                                                                                %>
                                                                                                        </td>


                                                                                                        <%
                                                                                                            if(event.dueDate>
                                                                                                            new
                                                                                                            Date().getTime()
                                                                                                            ) { %>
                                                                                                            <td
                                                                                                                style="text-align:center">
                                                                                                                <span
                                                                                                                    class="badge rounded-pill bg-success">In-progress</span>
                                                                                                            </td>

                                                                                                            <td
                                                                                                                style="text-align:center">
                                                                                                                <a
                                                                                                                    href="/section/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/group/<%= inGroup[0].id %>/event/<%= event.id %>">Start</a>
                                                                                                            </td>
                                                                                                            <% } else {
                                                                                                                %>

                                                                                                                <td
                                                                                                                    style="text-align:center">
                                                                                                                    <span
                                                                                                                        class="badge rounded-pill bg-danger">Late</span>
                                                                                                                </td>

                                                                                                                <td
                                                                                                                    style="text-align:center">
                                                                                                                    <a
                                                                                                                        href="/section/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/group/<%= inGroup[0].id %>/event/<%= event.id %>">Start</a>
                                                                                                                </td>

                                                                                                                <% } %>

                                                                                                                    <% n++
                                                                                                                        %>


                                                                                                                        <% }
                                                                                                                            %>

                                                                </tr>
                                                                <% }); %>

                                                                    <% if (n==0) { %>

                                                                        <tr>
                                                                            <td colspan="5" style="text-align: center;">
                                                                                No evaluation event at this moment.
                                                                            </td>
                                                                        </tr>

                                                                        <% } %>


                                                                            <% } else { %>

                                                                                <tr>
                                                                                    <td colspan="5"
                                                                                        style="text-align: center;">
                                                                                        Please complete the group
                                                                                        formation first.
                                                                                    </td>
                                                                                </tr>

                                                                                <% } %>


                                                                                    <% } else { %>

                                                                                        <tr>
                                                                                            <td colspan="5"
                                                                                                style="text-align: center;">
                                                                                                No evaluation event has
                                                                                                been created
                                                                                                at this moment.
                                                                                            </td>
                                                                                        </tr>

                                                                                        <% } %>

            </tbody>
        </table>

    </div>

    <br>
    <br>


    <h3><svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor"
            class="bi bi-check2-square text-success" viewBox="0 0 16 16">
            <path
                d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
            <path
                d="M8.354 10.354l7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
        </svg> &nbsp;Submitted Evaluation</h3>

    <table class="table table-bordered">
        <thead style="vertical-align: middle;">
            <tr class="table-secondary">
                <th scope="col" span="1" style="text-align: center; width: 25%;">Evaluation Title</th>
                <th scope="col" span="1" style="text-align: center; width: 17%;">Result Available
                </th>
                <th scope="col" span="1" style="text-align: center; width: 8%;">Group</th>
                <th scope="col" span="1" style="text-align: center; width: 17%;">Due Date</th>
                <th scope="col" span="1" style="text-align: center; width: 17%;">Date Submitted</th>
                <th scope="col" span="1" style="text-align: center; width: 5%;">Result</th>
            </tr>
        </thead>
        <tbody>

            <% var cnt=0; %>

                <% responseInfo.forEach( function(event) { %>

                    <% var s=false; %>
                        <% var responseDate=0; %>

                            <!-- Check the status -->
                            <% event.completedResponse.forEach( function(response) { %>

                                <% if (response.evaluator==userid && response.eventid==event.id) { %>

                                    <% s=true %>
                                        <% responseDate=response.updatedAt %>

                                            <% } %>
                                                <% }); %>

                                                    <% if (s==true) { %>

                                                        <tr>
                                                            <td style="text-align:center">
                                                                <a
                                                                    href="/section/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/group/<%= inGroup[0].id %>/viewEvent/<%= event.id %>">
                                                                    <%= event.eventName %>
                                                                </a>
                                                            </td>
                                                            <td style="text-align: center;">
                                                                <%= new Intl.DateTimeFormat('en-GB', {
                                                                    dateStyle: 'medium' , timeStyle: 'short' ,
                                                                    hour12: 'true' }).format(event.releaseDate) %>
                                                            </td>
                                                            <td style="text-align:center">
                                                                Group <%= inGroup[0].groupNum %>
                                                            </td>
                                                            <td style="text-align:center">
                                                                <%= new Intl.DateTimeFormat('en-GB', {
                                                                    dateStyle: 'medium' , timeStyle: 'short' ,
                                                                    hour12: 'true' }).format(event.dueDate) %>
                                                            </td>

                                                            <% if(responseDate> event.dueDate) { %>
                                                                <td style="text-align: center;" class="text-danger">
                                                                    <%= new Intl.DateTimeFormat('en-GB', {
                                                                        dateStyle: 'medium' , timeStyle: 'short' ,
                                                                        hour12: 'true' }).format(responseDate) %>
                                                                </td>
                                                                <% } else { %>
                                                                    <td style="text-align: center;">
                                                                        <%= new Intl.DateTimeFormat('en-GB', {
                                                                            dateStyle: 'medium' , timeStyle: 'short' ,
                                                                            hour12: 'true' }).format(responseDate) %>
                                                                    </td>
                                                                    <% } %>

                                                                        <% if((new Date().getTime()> event.releaseDate)
                                                                            && event.autoRelease == 'Enabled') {
                                                                            %>
                                                                            <td style="text-align: center;">
                                                                                <a
                                                                                    href="/student/section/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/event/<%= event.id %>/group/<%= inGroup[0].id %>/evalResult">Result</a>
                                                                            </td>

                                                                            <% } else { %>

                                                                                <td style="text-align: center;">
                                                                                    ---
                                                                                </td>
                                                                                <% } %>
                                                        </tr>

                                                        <% cnt++ %>

                                                            <% } %>


                                                                <% }); %>

                                                                    <% if (cnt==0) { %>

                                                                        <tr>
                                                                            <td colspan="6" style="text-align: center;">
                                                                                No evaluation event has been submitted
                                                                                at this
                                                                                moment.
                                                                            </td>
                                                                        </tr>


                                                                        <% } %>



        </tbody>

    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">End of Submission</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Since the result has been released, you can no longer submit this evaluation.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <br>



</body>