<body>
    <br>
    <h1><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-book text-primary" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
        </svg>
        <%= sectionInfo.in[0].courseName %>
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/student/<%= userid %>/viewProject/<%= sectionInfo.id %>">
                    <%= sectionInfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= sectionInfo.haveProject[0].projectName %>
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-6">
            <h3>
                <%= sectionInfo.haveProject[0].projectName %>
            </h3>
        </div>
        <div class="col-6" style="padding-right: 150px;">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-dark mb-4" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="float: right;">
                View all students
            </button>
        </div>
    </div>


    <!-- Display available group here -->

    <div class="container my-5" style="width:900px;">

        <div class="row g-0 mb-2">
            <div class="col-md-9">
                <h5>Available Groups</h5>
            </div>
            <div class="col-md-3">

                <% var n=false; var i=0; groupInfo.forEach( function(model) { if(model.createdBy[0].id==userid){ n=true;
                    i=model.id; return; } }); %>

                    <% if(n==true) { %>

                        <a href="/student/<%= userid %>/section/<%= sectionInfo.id %>/project/<%= sectionInfo.haveProject[0].id %>/viewCreatedGroup/<%= i %>"
                            style="font-size: 18px;">View my Group</a>

                        <% }else { %>

                            <button type="button" class="btn btn-link" style="font-size: 18px; text-decoration: none;"
                                data-bs-toggle="modal" data-bs-target="#createGroupModal"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                </svg> Create Group</button>

                            <% } %>
            </div>
        </div>

        <% if(groupInfo.length==0 ) { %>

            <div class="alert alert-secondary" role="alert">
                No group has been formed at this moment.
            </div>

            <% } else { %>
                <div class="col-sm-9">
                    <table class="table table-hover table-striped" style="width:800px;">

                        <thead class="table-light">
                            <tr>
                                <th scope="col" span="1" style="width: 30%; text-align: center;">Group</th>
                                <th scope="col" span="1" style="width: 30%; text-align: center;">Members
                                </th>
                                <th scope="col" span="1" style="width: 30%; text-align: center;">Recommended %</th>
                            </tr>
                        </thead>

                        <tbody>

                            <% groupInfo.forEach( function(model) { %>
                                <tr>
                                    <td>
                                        <div style="text-align:center">
                                            <a href="#">Group <%= model.groupNum %></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="text-align:center">
                                            <%= model.createdBy.length %> / <%=
                                                    sectionInfo.haveProject[0].numOfStudentMax %>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="text-align:center">
                                            ?</div>
                                    </td>

                                    <% }); %>
                                </tr>

                        </tbody>
                    </table>
                </div>

                <% } %>
    </div>


    <!-- Triggered Modal (Student List) -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View all students</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- Display number of students -->
                    <% if (sectionInfo.haveStudent.length !=0 ) { %>
                        <p class="text-muted" style="float: right;">Number of Students: <%=
                                sectionInfo.haveStudent.length %>
                        </p>
                        <% } %>

                            <!-- Student List -->
                            <!-- Table (Display Student List) -->
                            <% if (sectionInfo.haveStudent.length !=0 ) { %>

                                <table class="table table-hover table-striped">

                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" span="1" style="width: 7%;">#</th>
                                            <th scope="col" span="1" style="width: 13%;">Student ID:
                                            </th>
                                            <th scope="col" span="1" style="width: 28%;">Student Full Name</th>
                                            <th scope="col" span="1" style="width: 15%;">Gender</th>
                                            <th scope="col" span="1" style="width: 30%;">Study Programme</th>
                                            <th scope="col" span="1" style="width: 13%; text-align: center;">Study Year
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <% var n=1; %>

                                            <% sectionInfo.haveStudent.forEach( function(model) { %>
                                                <tr>
                                                    <td>
                                                        <%= n %>
                                                    </td>
                                                    <td>
                                                        <a href="/student/<%= userid %>/section/<%= sectionInfo.id %>/project/<%= projectid %>/viewStudentProfile/<%= model.givenId %>"
                                                            target="_blank" rel="noopener noreferrer">
                                                            <%= model.givenId %>
                                                        </a>

                                                    </td>
                                                    <td>
                                                        <img src="<%= model.imgURL %>" alt="Admin"
                                                            class="rounded-circle" width="40">
                                                        <%= model.fullName %>
                                                    </td>
                                                    <td>
                                                        <%= model.gender %>
                                                    </td>
                                                    <td>

                                                        <%= model.study_programme %>

                                                    </td>
                                                    <td>
                                                        <div style="text-align:center">
                                                            <%= model.study_year %>
                                                        </div>
                                                    </td>
                                                    <% n++; %>

                                                        <% }); %>
                                                </tr>

                                    </tbody>
                                </table>

                                <% } %>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Triggered Modal - Confirm create group Modal -->
    <!-- Modal -->
    <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createGroupModalLabel">Create Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Confirm to create a group ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form
                        action="/student/<%= userid %>/section/<%= sectionInfo.id %>/project/<%= sectionInfo.haveProject[0].id %>/createGroup"
                        method="POST" onsubmit="createForm(this);return false">
                        <button type="submit" class="btn btn-primary">Create group</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




</body>

<script>

    async function createForm(oFormElement) {

        var response = await fetch(oFormElement.action, {
            method: "POST",
            credentials: 'same-origin',
            headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
            //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });


        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            // alert(data.message);
            window.location = data.url;
            //location.reload(true);
        }
        // else if (response.status == 401) {
        //     var data = await response.text();   // for res.send()
        //     alert(data);
        // } else {
        //     alert(response.statusText);
        // }

    };



</script>