<body>
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/student/<%= userid %>/viewProject/<%= sectionInfo.id %>">
                    <%= sectionInfo.in[0].courseID %>: <%= sectionInfo.in[0].courseName %> (Section <%=
                                sectionInfo.sectionNum %>)
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= sectionInfo.haveProject[0].projectName %>
            </li>
        </ol>
    </nav>

    <div class="row" style="padding: 5px 30px;">
        <div class="col-6">
            <h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor"
                    class="bi bi-flag-fill text-danger" viewBox="0 0 16 16">
                    <path
                        d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                </svg> &nbsp;<%= sectionInfo.haveProject[0].projectName %>
            </h3>
        </div>
        <div class="col-6">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary mb-4" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="float: right;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg> &nbsp;View all students
            </button>
        </div>
    </div>


    <!-- Display available group here -->

    <div class="container my-4 text-primary" style="width:900px;">

        <div class="row g-0">
            <div class="col-md-9">
                <h5><b>Available Groups</b></h5>
            </div>
            <div class="col-md-3">

                <% if (projectInfo.haveGroup.length> 0 ){ %>

                    <% var n=false; var a=0; groupInfo.forEach( function(model) {
                        model.createdBy.forEach(function(member) { if(member.id==userid) { n=true; } }); if(n==true) {
                        a=model.id; n=false; } }); %>

                        <% if(a!=0) { %>

                            <a href="/student/<%= userid %>/section/<%= sectionInfo.id %>/project/<%= sectionInfo.haveProject[0].id %>/viewCreatedGroup/<%= a %>"
                                style="font-size: 18px;">View my Group</a>

                            <% }else { %>

                                <button type="button" class="btn btn-link"
                                    style="font-size: 18px; text-decoration: none;" data-bs-toggle="modal"
                                    data-bs-target="#createGroupModal"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="25" height="25" fill="currentColor" class="bi bi-plus-circle-fill"
                                        viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                    </svg> Create Group</button>

                                <% } %>

                                    <% } else { %>

                                        <button type="button" class="btn btn-link"
                                            style="font-size: 18px; text-decoration: none;" data-bs-toggle="modal"
                                            data-bs-target="#createGroupModal"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="25" height="25" fill="currentColor"
                                                class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                            </svg> Create Group</button>

                                        <% } %>
            </div>
        </div>


        <div class="col-sm-9">
            <div class="container" style="margin: auto;">

                <table class="table table-bordered" style="width:800px;">

                    <thead style="vertical-align: middle;">
                        <tr class="table-secondary">
                            <th scope="col" span="1" style="width: 20%; text-align: center;">Group</th>
                            <th scope="col" span="1" style="width: 20%; text-align: center;">Members
                            </th>
                            <th scope="col" span="1" style="width: 30%; text-align: center;">Description</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% if(availableGroup.length> 0 ) { %>

                            <% availableGroup.forEach( function(model) { %>

                                <% if (model.createdBy.length> 0) { %>
                                    <tr>
                                        <td>
                                            <% var s=[]; for(i=0; i < model.createdBy.length; i++) {
                                                s[i]=model.createdBy[i]; } %>

                                                <div style="text-align:center">

                                                    <% if (a==model.id) { %>
                                                        <u>Group <%= model.groupNum %>
                                                        </u>

                                                        <% } else { %>
                                                            <a
                                                                href="/student/<%= userid %>/section/<%= sectionInfo.id %>/project/<%= projectInfo.id %>/viewGroup/<%= model.id %>">Group
                                                                <%= model.groupNum %>
                                                            </a>
                                                            <% } %>
                                                </div>
                                        </td>
                                        <td>
                                            <div style="text-align:center">
                                                <%= model.createdBy.length %> / <%=
                                                        sectionInfo.haveProject[0].numOfStudentMax %>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="text-align:center">
                                                <%= model.groupDescription=="" ? '---' : model.groupDescription %>
                                            </div>
                                        </td>

                                        <% } %>

                                    </tr>

                                    <% }); %>

                                        <% } else { %>

                                            <tr>
                                                <td colspan="3" style="text-align: center;">
                                                    No available group at this moment.
                                                </td>
                                            </tr>


                                            <% } %>

                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!-- Display Group Formation Completed -->
    <div class="container my-5 text-secondary" style="width:900px;">
        <div class="col-sm-9">
            <h5 class="my-3"><b>Completed Groups</b></h5>
            <div class="container" style="margin: auto;">
                <table class="table table-bordered" style="width:800px;">

                    <thead style="vertical-align: middle;">
                        <tr class="table-secondary">
                            <th scope="col" span="1" style="width: 20%; text-align: center;">Group</th>
                            <th scope="col" span="1" style="width: 20%; text-align: center;">Members
                            </th>
                            <th scope="col" span="1" style="width: 30%; text-align: center;">Description</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% if (completedGroup.length> 0 ) { %>

                            <% completedGroup.forEach( function(model) { %>

                                <tr>
                                    <td>
                                        <% var s=[]; for(i=0; i < model.createdBy.length; i++) {
                                            s[i]=model.createdBy[i]; } %>

                                            <div style="text-align:center">

                                                <% if (a==model.id) { %>
                                                    <u>Group <%= model.groupNum %>
                                                    </u>

                                                    <% } else { %>
                                                        <a
                                                            href="/student/<%= userid %>/section/<%= sectionInfo.id %>/project/<%= projectInfo.id %>/viewGroup/<%= model.id %>">Group
                                                            <%= model.groupNum %>
                                                        </a>
                                                        <% } %>
                                            </div>
                                    </td>
                                    <td>
                                        <div style="text-align:center">
                                            <%= model.createdBy.length %> / <%=
                                                    sectionInfo.haveProject[0].numOfStudentMax %>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="text-align:center">
                                            <%= model.groupDescription=="" ? '---' : model.groupDescription %>
                                        </div>
                                    </td>

                                </tr>

                                <% }); %>

                                    <% } else { %>

                                        <tr>
                                            <td colspan="5" style="text-align: center;">
                                                No completed group at this moment.
                                            </td>
                                        </tr>

                                        <% }%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>





    <!-- Triggered Modal (Student List) -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View all students</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- Student List -->
                    <!-- Table (Display Student List) -->
                    <% if (listInfo.length !=0 ) { %>

                        <table class="table table-hover table-striped">

                            <thead class="table-light" style="vertical-align: middle;">
                                <tr>
                                    <th scope="col" span="1" style="width: 5%; text-align: center;">#</th>
                                    <th scope="col" span="1">Student ID:
                                    </th>
                                    <th scope="col" span="1">Student Full Name
                                    </th>
                                    <th scope="col" span="1" style="width: 10%;">Gender</th>
                                    <th scope="col" span="1">Study Programme
                                    </th>
                                    <th scope="col" span="1" style="text-align: center;">Study Year
                                    </th>

                                    <th scope="col" span="1" style="text-align: center;">Group</th>
                                </tr>
                            </thead>

                            <tbody>

                                <% var n=1; %>

                                    <% listInfo.forEach( function(model) { %>
                                        <tr>
                                            <td style="text-align: center;">
                                                <%= n %>
                                            </td>
                                            <td>
                                                <a href="/viewStudentProfile/<%= model.id %>" target="_blank"
                                                    rel="noopener noreferrer">
                                                    <%= model.givenId %>
                                                </a>

                                            </td>
                                            <td>
                                                <img src="<%= model.imgURL %>" alt="Admin" class="rounded-circle"
                                                    width="40">
                                                <%= model.fullName %>
                                            </td>
                                            <td>
                                                <%= model.gender %>
                                            </td>
                                            <td>

                                                <%= model.study_programme %>

                                            </td>
                                            <td>
                                                <div style="text-align:center">
                                                    <%= model.study_year %>
                                                </div>
                                            </td>

                                            <td>
                                                <div style="text-align:center">
                                                    <%= model.create.length> 0 ? 'Group ' +
                                                        model.create[0].groupNum
                                                        : '---' %>
                                                </div>
                                            </td>

                                            <% n++; %>

                                                <% }); %>
                                        </tr>

                            </tbody>
                        </table>

                        <% } %>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Triggered Modal - Confirm create group Modal -->
    <!-- Modal -->
    <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createGroupModalLabel">Create Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Confirm to create a group ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form
                        action="/student/<%= userid %>/section/<%= sectionInfo.id %>/project/<%= sectionInfo.haveProject[0].id %>/createGroup"
                        method="POST" onsubmit="createForm(this);return false">
                        <button type="submit" class="btn btn-primary">Create group</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Triggered Modal - View Group List -->
    <div class="modal fade" id="viewGroupModal" tabindex="-1" aria-labelledby="viewGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewGroupModalLabel">Group List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>




</body>

<script>

    async function createForm(oFormElement) {

        var response = await fetch(oFormElement.action, {
            method: "POST",
            credentials: 'same-origin',
            headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
            //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });


        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            // alert(data.message);
            window.location = data.url;
            //location.reload(true);
        }
        // else if (response.status == 401) {
        //     var data = await response.text();   // for res.send()
        //     alert(data);
        // } else {
        //     alert(response.statusText);
        // }

    };



</script>