<body>

    <br>
    <h1><svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor"
            class="bi bi-star text-warning" viewBox="0 0 16 16">
            <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
        </svg>
        &nbsp;<%= sectionInfo.in[0].courseID %>:
            <%= sectionInfo.in[0].courseName %> (Section <%= sectionInfo.sectionNum %>)
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/student/<%= userid %>/viewProject/<%= sectionInfo.id %>">
                    <%= sectionInfo.in[0].courseID %>: <%= sectionInfo.in[0].courseName %> (Section <%=
                                sectionInfo.sectionNum %>)
                </a></li>
            <li class="breadcrumb-item"><a
                    href="/student/<%= userid %>/section/<%= sectionInfo.id %>/project/<%= sectionInfo.haveProject[0].id %>">
                    <%= sectionInfo.haveProject[0].projectName %>
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Group <%= groupInfo.groupNum %>
            </li>
        </ol>
    </nav>

    <div class="container my-5" style="width:800px;">
        <h2>Group <%= groupInfo.groupNum %>
        </h2>
        <div class="my-3">
            <%= groupInfo.groupDescription %>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Group Members</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <p class="my-3">Participants: <%= groupInfo.createdBy.length %>
                </p>

                <div class="list-group" style="width: 300px;">

                    <% groupInfo.createdBy.forEach( function(model) { %>

                        <a href="#" class="list-group-item list-group-item-action">
                            <img src="<%= model.imgURL %>" alt="Admin" class="rounded-circle" width="45">
                            &nbsp; <%= model.fullName %>
                        </a>
                        <% }); %>
                </div>

                <% var a=false; %>

                    <% peopleHaveGroup.forEach( function(group) { %>

                        <% group.createdBy.forEach( function(p){ %>

                            <% if(p.id==userid) { a=true; } %>

                                <% }); %>

                                    <% }); %>

                                        <% if (a==false) { %>
                                            <div class="my-4" style="padding-left: 80px;">
                                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                                    data-bs-target="#applyToGroupModal">Apply to Group <%=
                                                        groupInfo.groupNum %>
                                                </button>
                                            </div>
                                            <% } %>

            </div>


        </div>
    </div>



    <!-- Triggered Modal - Apply to Group Modal -->
    <div class="modal fade" id="applyToGroupModal" tabindex="-1" aria-labelledby="applyToGroupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applyToGroupModalLabel">Apply Group <%= groupInfo.groupNum %>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Confirm to apply to group <%= groupInfo.groupNum %> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form
                        action="/student/<%= userid %>/section/<%= sectionInfo.id %>/project/<%= sectionInfo.haveProject[0].id %>/applyToGroup/<%= groupInfo.id %>"
                        method="POST" onsubmit="createForm(this);return false">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>

<script>
    async function createForm(oFormElement) {

        var response = await fetch(oFormElement.action, {
            method: "POST",
            credentials: 'same-origin',
            headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
            //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });


        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            window.location = data.url;
            //location.reload(true);
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }

    };
</script>