<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homepage">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= sectionInfo.in[0].courseID %>: <%= sectionInfo.in[0].courseName %> (Section <%=
                            sectionInfo.sectionNum %>)
            </li>
        </ol>
    </nav>


    <% if(sectionInfo.haveProject.length==0) { %>

        <div class="alert alert-warning" role="alert">
            No group project at this moment. Please check it later.
        </div>

        <% } else { %>

            <% var i=0; %>

                <div class="accordion" id="accordionExample">

                    <% sectionInfo.haveProject.forEach( function(project){ %>

                        <div class="accordion-item">
                            <h4 class="accordion-header" id="heading_<%= i %>">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_<%= i %>" aria-expanded="false"
                                    aria-controls="collapse_<%= i %>">
                                    <h4>
                                        <%= project.projectName %>
                                    </h4>
                                </button>
                            </h4>

                            <% if (sectionInfo.haveProject.length==1) { %>
                                <div id="collapse_<%= i %>" class="accordion-collapse show"
                                    aria-labelledby="heading_<%= i %>" data-bs-parent="#accordionExample">
                                    <% } else { %>

                                        <div id="collapse_<%= i %>" class="accordion-collapse collapse"
                                            aria-labelledby="heading_<%= i %>" data-bs-parent="#accordionExample">

                                            <% } %>
                                                <div class="accordion-body">

                                                    <dl class="row my-2">
                                                        <dt class="col-sm-4">Project Description:
                                                        </dt>
                                                        <dd class="col-sm-8">
                                                            <%= project.projectDescription %>
                                                        </dd>
                                                    </dl>

                                                    <dl class="row my-2">
                                                        <dt class="col-sm-4">Student Per
                                                            Group:
                                                        </dt>
                                                        <dd class="col-sm-8">
                                                            <%= project.numOfStudentMin %> to <%=
                                                                    project.numOfStudentMax %>
                                                        </dd>
                                                    </dl>

                                                    <dl class="row my-2">
                                                        <dt class="col-sm-4">
                                                            Group Formation Due Date:
                                                        </dt>
                                                        <dd class="col-sm-3">
                                                            <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'medium' ,
                                                                timeStyle: 'short' , hour12: 'true'
                                                                }).format(project.groupFormationDate) %>
                                                        </dd>

                                                        <dd class="col-sm-2">
                                                            <a href="/student/section/<%= sectionInfo.id %>/project/<%= project.id %>/calendarFormDate"
                                                                target="_blank" rel="noopener noreferrer"
                                                                class="tip"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="20" height="20" fill="currentColor"
                                                                    class="bi bi-calendar-plus" viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                                                                    <path
                                                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                                                </svg><span class="tooltiptext">Generate an event
                                                                    link for Google Calendar</span></a>
                                                        </dd>
                                                    </dl>

                                                    <dl class="row my-2">
                                                        <dt class="col-sm-4">
                                                            Project Submission Due Date:
                                                        </dt>
                                                        <dd class="col-sm-3">
                                                            <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'medium' ,
                                                                timeStyle: 'short' , hour12: 'true'
                                                                }).format(project.projectSubmitDate) %>
                                                        </dd>

                                                        <dd class="col-sm-2">
                                                            <a href="/student/section/<%= sectionInfo.id %>/project/<%= project.id %>/calendarSubmitDate"
                                                                target="_blank" rel="noopener noreferrer"
                                                                class="tip"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    width="20" height="20" fill="currentColor"
                                                                    class="bi bi-calendar-plus" viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                                                                    <path
                                                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                                                </svg><span class="tooltiptext">Generate an event
                                                                    link for Google Calendar</span></a>
                                                        </dd>
                                                    </dl>

                                                    <br>

                                                    <a href="/student/section/<%= sectionInfo.id %>/project/<%= project.id %>/evaluationEvent"
                                                        style="float: right; margin-left: 10px;"
                                                        class="btn btn-success">Peer
                                                        Evaluation</a>
                                                    <a href="/student/section/<%= sectionInfo.id %>/project/<%= project.id %>"
                                                        style="float: right;" class="btn btn-primary">Group
                                                        Formation</a>

                                                    <br>
                                                    <br>

                                                </div>
                                        </div>
                                </div>

                                <% i++; %>
                                    <% }); %>

                        </div>

                        <% } %>

                            <br>

</body>


<style>
    .tip {
        position: relative;
        display: inline-block;
    }

    .tip .tooltiptext {
        visibility: hidden;
        width: 220px;
        background-color: rgba(70, 70, 70, 0.795);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 150%;
    }

    .tip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 35%;
        right: 100%;
        margin-top: -5px;
        border-width: 6px;
        border-style: solid;
        border-color: transparent rgba(70, 70, 70, 0.795) transparent transparent;
    }

    .tip:hover .tooltiptext {
        visibility: visible;
    }
</style>