<body>
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/user/profile">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
        </ol>
    </nav>

    <h3><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor"
            class="bi bi-pencil-square text-info" viewBox="0 0 16 16">
            <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg> &nbsp;Edit Profile</h3>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <div class="mb-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="false">Profile</a>
                        </li>
                    </ul>
                    <form action="/user/<%= userid %>" method="POST" onsubmit="createForm(this);return false">
                        <div class="row">
                            <div class="col-3">
                                <div class="d-flex flex-column">
                                    <img src="<%= userinfo.imgURL %>" alt="Admin" class="rounded-circle" width="150">

                                </div>
                            </div>
                            <div class="col-8">
                                <br>
                                <br>
                                <h4>
                                    <%= userinfo.fullName %>
                                </h4>
                                <p class="text-secondary mb-1">Year <%= userinfo.study_year %>
                                </p>
                                <p class="text-muted font-size-sm">
                                    <%= userinfo.study_programme %>
                                </p>
                            </div>


                        </div>
                </div>
                <hr class="my-4" />
                <div class="my-3">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">Preferred Name</label>
                            <input type="text" id="firstname" class="form-control" placeholder="Input preferred name"
                                name="User[preferred_name]" value="<%= userinfo.preferred_name %>" />
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="inputInst">Instagram</label>
                                <input type="text" class="form-control" id="inputInst"
                                    placeholder="Please input your Instagram account" name="User[instagram]"
                                    value="<%= userinfo.instagram %>" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="inputFace">Facebook</label>
                                <input type="text" class="form-control" id="inputFace"
                                    placeholder="Please input your Facebook account" name="User[facebook]"
                                    value="<%= userinfo.facebook %>" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <div class="form-group">
                        <label>Bio</label>
                        <textarea class="form-control" rows="5" placeholder="My Bio"
                            name="User[bio]"><%= userinfo.bio %></textarea>
                    </div>
                </div>

                <div class="form-group my-3">
                    <label for="inputFace">Interest</label>
                    <input type="text" class="form-control" id="inputFace" placeholder="Please input your interest."
                        name="User[interest]" value="<%= userinfo.interest %>" />
                </div>

                <div class="form-group my-3">
                    <label for="inputFace">Strength</label>
                    <input type="text" class="form-control" id="inputFace" placeholder="Please input your strength."
                        name="User[strength]" value="<%= userinfo.strength %>" />
                </div>

                <div class="form-group">
                    <label for="inputFace">Skills</label>
                    <input type="text" class="form-control" id="inputFace" placeholder="Please input your skills."
                        name="User[skills]" value="<%= userinfo.skills %>" />
                </div>

                <hr class="my-4" />
                <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="form-group my-2">
                            <label for="inputPassword4">Old Password</label>
                            <input type="password" class="form-control" id="inputPassword5" />
                        </div>
                        <div class="form-group my-2">
                            <label for="inputPassword5">New Password</label>
                            <input type="password" class="form-control" id="inputPassword5" />
                        </div>
                        <div class="form-group my-2">
                            <label for="inputPassword6">Confirm Password</label>
                            <input type="password" class="form-control" id="inputPassword6" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-2">Password requirements</p>
                        <p class="small text-muted mb-2">To create a new password, you have to meet all of the
                            following requirements:</p>
                        <ul class="small text-muted pl-4 mb-0">
                            <li>Minimum 8 character</li>
                            <li>At least one special character</li>
                            <li>At least one number</li>
                            <li>Can’t be the same as a previous password</li>
                        </ul>
                    </div>
                </div> -->
                <div class="my-3">
                    <button type="submit" class="btn btn-primary" style="float: right;">Save Change</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    </div>


</body>

<script>

    async function createForm(oFormElement) {

        console.log("Gogo");

        var response = await fetch("/user/<%= userid %>", {
            method: "PATCH",
            credentials: 'same-origin',
            headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
            //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });


        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            window.location = data.url;
            //location.reload(true);
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }

    };
</script>