<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>


    <h4>Courses:</h4>

    <% allCourses.forEach( function(course) { %>

        <div class="card mt-2 px-3">
            <div class="card-body ">
                <div class="row">
                    <div class="mb-2 ">
                        <h4 class="card-title "><b><a href="/student/<%= userid %>/viewProject/<%= course.id %>">
                                    <%= course.in[0].courseID %> - <%= course.in[0].courseName %>
                                            [<%= course.in[0].courseTerm %>]
                                </a></b></h4>
                    </div>

                    <% if (course.in.length> 0) { %>

                        <div class="col">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <p class="card-text text-muted small ">

                                    <% course.haveTeacher.forEach( function(model) { %>
                                        Teacher: <span class="font-weight-bold"></span>
                                        <%= model.preferred_name %>
                                            <br>
                                            <% }); %>

                                                </span>
                                </p>
                            </h6>
                        </div>


                        <% } %>

                </div>
            </div>
        </div>
        <br>

        <% }); %>



            <% if(allCourses.length < 3) { %>

                <br><br><br><br><br><br><br><br><br><br>

                <% } %>


</body>

<style>
    a {
        text-decoration: none;
    }

    .card {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
</style>