<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage">Home</a></li>
            <li class="breadcrumb-item"><a href="/teacher/viewCourse/<%= sectioninfo.in[0].id %>">
                    <%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item"><a href="/teacher/viewSection/<%= sectioninfo.id %>">
                    Section <%= sectioninfo.sectionNum %>
                </a></li>
            <li class="breadcrumb-item"><a
                    href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/evaluation">
                    Peer Evaluation
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Add Evaluation Event
            </li>
        </ol>
    </nav>



    <h3 class="col-md-6"><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor"
            class="bi bi-calendar4-week text-info" viewBox="0 0 16 16">
            <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
            <path
                d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
        </svg> &nbsp;Add Evaluation Event</h3>

    <div class="container" style="padding: 40px 150px;">

        <form method="POST"
            action="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/addEvaluationEvent"
            onsubmit="createForm(this);return false" class="was-validated">

            <div class="mb-4">
                <div class="form-group row">
                    <label for="example-title" class="col-4 col-form-label">Evaluation Name:</label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="EvalEvent[eventName]" required>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="form-group row">
                    <label for="message-text" class="col-4 col-form-label">Instruction:</label>

                    <div class="col-8">
                        <textarea class="form-control" name="EvalEvent[eventDes]" required></textarea>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="form-group row">
                    <label for="message-text" class="col-4 col-form-label">Evaluation Template:</label>
                    <div class="col-8">
                        <select class="form-select form-select" name="chooseTempID" required>
                            <option value="">Please choose an Evaluation Template:</option>
                            <% createdEvaluation.createEvaluation.forEach( function(evaluation) { %>
                                <option value="<%= evaluation.id %>">
                                    <%= evaluation.name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="form-group row">
                    <label for="message-text" class="col-4 col-form-label">Due Date:</label>
                    <div class="col-8">
                        <input type="datetime-local" class="form-control" name="dueDate" id="dueDate"
                            onchange="validateDueDate();" required
                            placeholder="Please enter a date in the format of 'YYYY-MM-DDThh:mm'.">
                        <div id="displayDueDateError"></div>
                    </div>
                </div>
            </div>

            <div class="mb-4">

                <div class="form-group row">

                    <label for="message-text" class="col-4 col-form-label">Auto-Release
                        Result:</label>

                    <div class="col-2 my-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="autoRelease" id="e" value="" checked
                                onclick="changeStatus();">
                            <label class="form-check-label" for="e">
                                Enabled
                            </label>
                        </div>
                    </div>
                    <div class="col-2 my-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="autoRelease" id="d" value=""
                                onclick="changeStatus();">
                            <label class="form-check-label" for="d">
                                Disabled
                            </label>
                        </div>
                    </div>

                </div>

            </div>

            <div class="mb-4">
                <div class="form-group row">
                    <label for="message-text" class="col-4 col-form-label">Result Release Date:</label>
                    <div class="col-8">
                        <input type="datetime-local" class="form-control" name="releaseDate" id="releaseDate"
                            onchange="validateReleaseDate();" required
                            placeholder="Please enter a date in the format of 'YYYY-MM-DDThh:mm'.">
                        <div id="displayRDateError"></div>
                    </div>
                </div>
            </div>


            <br>

            <button type="submit" class="btn btn-primary mx-1" style="float: right;">Create</button>
            <a href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/evaluation"
                class="btn btn-secondary mx-1" style="float: right;">Return</a>

        </form>

    </div>

</body>


<script>

    var enabled = document.getElementById("e");
    var disabled = document.getElementById("d");

    enabled.value = "Enabled";

    function changeStatus() {

        enabled.value = null;
        disabled.value = null;

        if (enabled.checked) {

            enabled.value = "Enabled";

        } else if (disabled.checked) {

            disabled.value = "Disabled";

        }

    }

    async function createForm(oFormElement) {

        var fDate = document.getElementById("dueDate");

        var sDate = document.getElementById("releaseDate");

        var check = new Date(fDate.value);
        var check2 = new Date(sDate.value);

        if (isNaN((check).getTime())) {
            alert("Invalid date format. Please enter a date in the format of 'YYYY-MM-DDThh:mm'");
            return;
        }

        if (isNaN((check2).getTime())) {
            alert("Invalid date format. Please enter a date in the format of 'YYYY-MM-DDThh:mm'");
            return;
        }


        var response = await fetch(oFormElement.action, {
            method: "POST",
            credentials: 'same-origin',
            headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
            //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });


        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            window.location = data.url;
            //location.reload(true);
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }

    };

    // Validate dueDate and result release date

    function validateDueDate() {

        var fDate = document.getElementById("dueDate");

        var sDate = document.getElementById("releaseDate");

        fDate.max = sDate.value;

        var msg = "<div class='invalid-feedback'>Invalid date! Due Date must be earlier than or equal to Result Release Date.</div>";

        $('#displayDueDateError').replaceWith(msg);

    }

    function validateReleaseDate() {

        var fDate = document.getElementById("dueDate");

        var sDate = document.getElementById("releaseDate");

        sDate.min = fDate.value;

        var msg = "<div class='invalid-feedback'>Invalid date! Result Release Date must be later than or equal to Due Date.</div>";

        $('#displayRDateError').replaceWith(msg);

    }


</script>