<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewCourse/<%= sectioninfo.in[0].id %>">
                    <%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewSection/<%= sectioninfo.id %>">
                    Section <%= sectioninfo.sectionNum %>
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Peer Evaluation
            </li>
        </ol>
    </nav>


    <!-- My Evaluation -->
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="allEvaluation-tab">

        <div class="row">
            <h3 class="col-md-6"><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                    fill="currentColor" class="bi bi-calendar4-week text-info" viewBox="0 0 16 16">
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                    <path
                        d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                </svg> &nbsp;My Evaluation Event</h3>
            <div class="col-md-6 ms-auto">
                <a href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/addEvaluationEvent"
                    class="btn btn-primary" style="float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="20" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                        <path
                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                        <path
                            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                    </svg> &nbsp;Add Evaluation Event</a>
            </div>
        </div>


        <table class="table table-bordered">
            <thead style="vertical-align: middle;">
                <tr class="table-secondary">
                    <th scope="col" span="1" style="text-align: center;">Evaluation Title</th>
                    <th scope="col" span="1" style="text-align: center; width: 15%;">View
                    </th>
                    <th scope="col" span="1" style="text-align: center; width: 15%;">Groups
                    </th>
                    <th scope="col" span="1" style="text-align: center;">Due Date</th>
                    <th scope="col" span="1" style="text-align: center; width: 13%;">Result Released</th>
                </tr>
            </thead>
            <tbody>

                <% if (eventInfo.haveEvent.length> 0) { %>


                    <% eventInfo.haveEvent.forEach( function(event) { %>

                        <tr>
                            <td style="text-align:center">
                                <a
                                    href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/event/<%= event.id %>">
                                    <%= event.eventName %>
                                </a>
                            </td>
                            <td style="text-align:center">
                                <a
                                    href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/event/<%= event.id %>/viewEvaluationResult">
                                    Results
                                </a>
                            </td>
                            <td style="text-align:center">
                                <%= eventInfo.haveGroup.length %>
                            </td>

                            <td style="text-align:center">
                                <%= new Intl.DateTimeFormat('en-GB', { dateStyle: 'medium' , timeStyle: 'short' ,
                                    hour12: 'true' }).format(event.dueDate) %>
                            </td>

                            <% if ((new Date().getTime()> event.releaseDate) && event.autoRelease == 'Enabled') { %>

                                <td style="text-align:center">
                                    Released
                                </td>

                                <% } else { %>

                                    <td style="text-align:center">
                                        Not yet
                                    </td>

                                    <% }%>

                        </tr>

                        <% }); %>


                            <% } else { %>

                                <tr>
                                    <td colspan="5" style="text-align: center;">
                                        No evaluation event has been created at this moment.
                                    </td>
                                </tr>

                                <% } %>

            </tbody>
        </table>







    </div>




    <% if (eventInfo.haveEvent.length < 2) { %>
        <br><br><br><br><br><br><br><br><br>

        <% } %>


</body>