<body>
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewCourse/<%= sectioninfo.in[0].id %>">
                    <%= sectioninfo.in[0].courseID %>:
                        <%= sectioninfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewSection/<%= sectionid %>">
                    Section <%= sectioninfo.sectionNum %>
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">Participants
            </li>
        </ol>
    </nav>

    <h3><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor"
            class="bi bi-people-fill text-success" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
        </svg> &nbsp;Participants</h3>
    <br>
    <form action="/import_student/<%= sectioninfo.id %>/<%= userid %>" method="post" enctype="multipart/form-data">

        <h6><b>Import Student List (.xlsx):</b></h6>

        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <input type="file" class="form-control"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file"
                        id="formFile" required>

                    <button type="sumbit" class="btn btn-outline-secondary"><svg width="1.2em" height="1.2em"
                            viewBox="0 0 16 16" class="bi bi-cloud-upload" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                            <path fill-rule="evenodd"
                                d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z" />
                        </svg> Upload File</button>
                </div>
            </div>
        </div>

    </form>

    <br>

    <div class="mb-3">
        <!-- Button trigger modal - Add participants -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
            </svg> Add Participant</button>
        <!-- Display number of students -->
        <% if (sectioninfo.haveStudent.length !=0 ) { %>
            <p class="text-muted" style="float: right;">Number of Students: <%= sectioninfo.haveStudent.length %>
            </p>
            <% } %>
    </div>

    <!-- Table (Display Student List) -->
    <% if (sectioninfo.haveStudent.length !=0 ) { %>

        <table class="table table-hover table-striped">

            <thead class="table-light" style="vertical-align: middle;">
                <tr>
                    <th scope="col" span="1" style="width: 5%;">Select</th>
                    <th scope="col" span="1" style="width: 5%;">#</th>
                    <th scope="col" span="1" style="width: 10%;">Student ID
                    </th>
                    <th scope="col" span="1" style="width: 25%;">Student Full Name</th>
                    <th scope="col" span="1" style="width: 10%;">Gender</th>
                    <th scope="col" span="1" style="width: 25%;">Study Programme</th>
                    <th scope="col" span="1" style="width: 9%; text-align: center;">Study Year
                    </th>
                    <th scope="col" span="1" style="width: 15%; text-align: center;">Actions</th>
                </tr>
            </thead>

            <tbody>

                <% var n=1; %>

                    <% sectioninfo.haveStudent.forEach( function(model) { %>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            </td>
                            <td>
                                <%= n %>
                            </td>
                            <td>
                                <%= model.givenId %>
                            </td>
                            <td>
                                <img src="<%= model.imgURL %>" alt="Admin" class="rounded-circle" width="40">
                                <%= model.fullName %>
                            </td>
                            <td>
                                <%= model.gender %>
                            </td>
                            <td>
                                <%= model.study_programme %>
                            </td>
                            <td>
                                <div style="text-align:center">
                                    <%= model.study_year %>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#deleteParticipant" data-bs-whatever="<%= model.fullName %>"
                                        data-bs-studentID="<%= model.givenId %>" data-bs-sectionID="<%= sectionid %>"
                                        data-bs-userID="<%= userid %>"><svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16" fill="currentColor" class="bi bi-trash"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg></button>
                                </div>
                            </td>

                            <% n++; %>

                                <% }); %>
                        </tr>

            </tbody>
        </table>

        <% } %>


            <!-- Modal (add participants) -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add participant</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/addParticipant/<%= sectionid %>/<%= userid %>" method="POST">
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Please input the participant's
                                        student ID:</label>
                                    <input type="text" class="form-control" id="recipient-name" name="studentid">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add participant</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Modal (Delete a participant) -->
            <div class="modal fade" id="deleteParticipant" tabindex="-1" aria-labelledby="deleteParticipantLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteParticipantLabel">Delete Participant</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="deleteParticipant()">Confirm to
                                delete</button>
                        </div>
                    </div>
                </div>
            </div>


            <% if (sectioninfo.haveStudent.length==0 ) { %>

                <br><br><br><br><br><br><br><br><br>

                <% } %>



</body>

<script>

    var exampleModal = document.getElementById('deleteParticipant');

    var studentid;
    var sectionid;
    var userid;

    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var studentName = button.getAttribute('data-bs-whatever');
        studentid = button.getAttribute('data-bs-studentID');
        sectionid = button.getAttribute('data-bs-sectionID');
        userid = button.getAttribute('data-bs-userID');
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalbody = exampleModal.querySelector('.modal-body');
        var modalButton = exampleModal.querySelector('.modal-footer');

        modalbody.textContent = 'Confirm to delete participant - ' + studentName + ' ?';

    });

    async function deleteParticipant() {

        var response = await fetch("/participant/" + studentid + '/' + sectionid + '/' + userid, {
            method: "POST",
            credentials: 'same-origin',
        });

        if (response.ok) {
            var data = await response.json();
            window.location = data.url;
        }

    };

</script>