<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= courseinfo.courseID %>: <%= courseinfo.courseName %>
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-6">
            <h4>Course Overview:</h4>
        </div>
        <div class="col-6"><button class="btn btn-outline-danger btn-sm" style="float: right;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Delete course</button>
        </div>
    </div>

    <table class="table center table-bordered">

        <tbody>
            <tr>
                <th scope="row">Course Name</th>
                <td>
                    <%= courseinfo.courseName %>
                </td>
            </tr>
            <tr>
                <th scope="row">Course Code</th>
                <td>
                    <%= courseinfo.courseID %>
                </td>
            </tr>
            <tr>
                <th scope="row">Academic Year</th>
                <td>
                    <%= courseinfo.courseTerm %>
                </td>
            </tr>

            <tr>
                <th scope="row">Number of Section:</th>
                <td>
                    <%= courseinfo.numOfSection %>

                </td>
            </tr>

        </tbody>

    </table>



    <ul class="list-group list-group-horizontal-xl">

        <% courseinfo.haveSection.forEach( function(section){ %>

            <li class="list-group-item"><a href="/teacher/viewSection/<%= section.id %>">Section:
                    <%= section.sectionNum %>
                </a>
            </li>

            <% }); %>

    </ul>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-danger w-100" id="staticBackdropLabel">Delete course</h5>
                    <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" id="deleteForm">
                    <div class="modal-body">
                        <p class="user-select-none">Deleting your course is irreversible. Enter your course's name (<b
                                class="text-danger">
                                <%= courseinfo.courseName %>
                            </b>) below to confirm you want to permanently delete it:
                        </p>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="inputDelete">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-danger" id="deleteBtn" disabled="disabled"
                            onclick="deleteCourse();">Delete
                            course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <br><br><br><br><br>



</body>


<script>


    var input = document.getElementById('inputDelete');
    var courseName = "<%= courseinfo.courseName %>";

    var id = "<%= courseinfo.id %>";

    deleteForm.addEventListener('input', () => {

        if (input.value == courseName) {
            deleteBtn.removeAttribute('disabled');
            deleteBtn.setAttribute('class', 'btn btn-danger');
        } else {
            deleteBtn.setAttribute('disabled', 'disabled');
            deleteBtn.setAttribute('class', 'btn btn-outline-danger');
        }

    });


    async function deleteCourse() {

        var response = await fetch("/removeCourse/" + id, {
            method: "DELETE",
            credentials: 'same-origin',
        });

        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        }

    };

</script>