<body>

    <br>

    <h1><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-book text-primary" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
        </svg>
        <%= sectioninfo.in[0].courseName %>
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewCourse/<%= sectioninfo.in[0].id %>">
                    <%= sectioninfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">Section: <%= sectioninfo.sectionNum %>
            </li>
        </ol>
    </nav>

    <br>

    <% if (sectioninfo.haveStudent.length==0 ) { %>

        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            <strong>No student in this section!</strong> You should upload the student list first.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>


            <form action="/import_student/<%= sectioninfo.id %>/<%= userid %>" method="post"
                enctype="multipart/form-data">

                <h6><b>Import Student List (.xlsx):</b></h6>

                <div class="row">
                    <div class="col-6">
                        <div class="input-group">
                            <input type="file" class="form-control"
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file"
                                id="formFile">

                            <button type="sumbit" class="btn btn-outline-secondary"><svg width="1.2em" height="1.2em"
                                    viewBox="0 0 16 16" class="bi bi-cloud-upload" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                                    <path fill-rule="evenodd"
                                        d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z" />
                                </svg> Upload File</button>
                        </div>
                    </div>
                </div>

            </form>

            <br>

            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />
                </svg> Initiate Group Project</button>


            <% sectioninfo.haveProject.forEach( function(project){ %>
                <div class="mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h3>Group Project: <%= project.projectName %>
                            </h3>

                        </div>
                        <div class="card-body">
                            <a href="#" class="btn btn-link" style="float: right;">Edit
                                Project</a>
                            <!-- <h3 class="card-title">
                                <%= project.projectName %>
                            </h3> -->

                            <p class="card-text">
                                <%= project.projectDescription %>
                            </p>

                            <p class="card-text">
                                <b>Number of Student Per Group:</b>
                                <%= project.numOfStudentMin %> to <%= project.numOfStudentMax %>
                            </p>
                            <p class="card-text">
                                <b>Group Formation Deadline:</b>
                                <%= project.groupFormationDate %>
                            </p>
                            <p class="card-text">
                                <b>Project Submision Deadline:</b>
                                <%= project.projectSubmitDate %>
                            </p>
                            <a href="#" class="btn btn-primary">Group Formation Progress</a>
                            <a href="#" class="btn btn-success">Peer Evaluation</a>
                        </div>
                    </div>
                </div>

                <% }); %>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Initiate Group Project</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form action="/createProject/<%= sectioninfo.id %>/<%= userid %>" method="POST"
                                    onsubmit="createForm(this);return false">
                                    <div class="modal-body">

                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Project Name:</label>
                                            <input type="text" class="form-control" name="Project[projectName]"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <div class="row"><label for="numberOfStudent" class="col-form-label">Number
                                                    of
                                                    Student Per
                                                    Group:</label></div>

                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <label class="col-3" for="numberOfStudentMin"
                                                                class="col-form-label">Min:</label>
                                                            <div class="col-5"><input type="number" class="form-control"
                                                                    name="Project[numOfStudentMin]" required min="1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <label class="col-3" for="numberOfStudentMax"
                                                                class="col-form-label">Max:</label>
                                                            <div class="col-5"><input type="number" class="form-control"
                                                                    name="Project[numOfStudentMax]" required min="1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <label for="numberOfStudent" class="col-form-label">Group Formation
                                                Deadline:</label>
                                            <input type="date" class="form-control" name="Project[groupFormationDate]"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="numberOfStudent" class="col-form-label">Group Project Submision
                                                Date:</label>
                                            <input type="date" class="form-control" name="Project[projectSubmitDate]"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Project
                                                Description:</label>
                                            <textarea class="form-control" name="Project[projectDescription]"
                                                required></textarea>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>


                    <% if (sectioninfo.haveStudent.length !=0 ) { %>

                        <!-- Table (Display Student List) -->
                        <br>
                        <table class="table table-hover">
                            <br>
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Student ID:</th>
                                    <th scope="col">Student Full Name</th>

                                </tr>
                            </thead>

                            <tbody>

                                <% var n=1; %>

                                    <% sectioninfo.haveStudent.forEach( function(model) { %>
                                        <tr>
                                            <td>
                                                <%= n %>
                                            </td>
                                            <td>
                                                <%= model.givenId %>
                                            </td>
                                            <td>
                                                <%= model.fullName %>
                                            </td>

                                            <% n++; %>

                                                <% }); %>
                                        </tr>

                            </tbody>
                        </table>

                        <% } %>

</body>



<script>
    async function createForm(oFormElement) {

        var response = await fetch(oFormElement.action, {
            method: "POST",
            credentials: 'same-origin',
            headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
            //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });


        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            window.location = data.url;
            //location.reload(true);
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }

    };
</script>