<body>

    <br>

    <h1><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-book text-primary" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
        </svg>
        &nbsp;<%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %> (Section <%= sectioninfo.sectionNum
                    %>)
    </h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewCourse/<%= sectioninfo.in[0].id %>">
                    <%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">Section <%= sectioninfo.sectionNum %>
            </li>
        </ol>
    </nav>

    <br>

    <!-- Alert 1 -->
    <% if (sectioninfo.haveStudent.length==0 ) { %>

        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            <strong>No student in this section!</strong> You should add student in this section first.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <!-- Alert 2 -->
            <% if(sectioninfo.haveProject.length==0) { %>

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    No group project has been created at this moment.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <% } %>

                    <!-- Initialize Group Project Button -->
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-bs-target="#staticBackdrop"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-lightning-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z" />
                        </svg> Initiate Group Project</button>

                    <a href="/teacher/<%= userid %>/section/<%= sectioninfo.id %>/participants"
                        class="btn btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                        </svg> Participants</a>


                    <!-- Display project in this section (accordion) -->
                    <div class="my-4">
                        <% if(sectioninfo.haveProject.length==0) { %>

                            <% } else { %>

                                <% var i=0; %>

                                    <div class="accordion" id="accordionExample">

                                        <% sectioninfo.haveProject.forEach( function(project){ %>

                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading_<%= i %>">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse_<%= i %>"
                                                        aria-expanded="false" aria-controls="collapse_<%= i %>">
                                                        <h3>
                                                            <%= project.projectName %>
                                                        </h3>
                                                    </button>
                                                </h2>

                                                <% if (sectioninfo.haveProject.length==1) { %>
                                                    <div id="collapse_<%= i %>" class="accordion-collapse show"
                                                        aria-labelledby="heading_<%= i %>"
                                                        data-bs-parent="#accordionExample">
                                                        <% } else { %>

                                                            <div id="collapse_<%= i %>"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="heading_<%= i %>"
                                                                data-bs-parent="#accordionExample">

                                                                <% } %>
                                                                    <div class="accordion-body">
                                                                        <a href="#" class="btn btn-link"
                                                                            style="float: right;">Edit
                                                                            Project</a>
                                                                        <p class="card-text">
                                                                            <%= project.projectDescription %>
                                                                        </p>
                                                                        <p class="card-text">
                                                                            <b>Number of Student Per Group:</b>
                                                                            <%= project.numOfStudentMin %> to <%=
                                                                                    project.numOfStudentMax %>
                                                                        </p>
                                                                        <p class="card-text">
                                                                            <b>Group Formation Deadline:</b>
                                                                            <%= project.groupFormationDate %>
                                                                        </p>
                                                                        <p class="card-text">
                                                                            <b>Project Submision Deadline:</b>
                                                                            <%= project.projectSubmitDate %>
                                                                        </p>
                                                                        <a href="#" class="btn btn-success"
                                                                            style="float: right; margin-left: 10px;">Peer
                                                                            Evaluation</a>
                                                                        <a href="#" class="btn btn-primary"
                                                                            style="float: right; ">Group
                                                                            Formation
                                                                            Progress</a>

                                                                        <br>
                                                                        <br>

                                                                    </div>
                                                            </div>
                                                    </div>

                                                    <% i++; %>
                                                        <% }); %>

                                            </div>

                                            <% } %>

                                    </div>

                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true"
                                        data-bs-backdrop="static">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Initiate
                                                        Group
                                                        Project</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <form action="/createProject/<%= sectioninfo.id %>/<%= userid %>"
                                                    method="POST" onsubmit="createForm(this);return false"
                                                    class="was-validated">
                                                    <div class="modal-body">

                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">Project
                                                                Name:</label>
                                                            <input type="text" class="form-control"
                                                                name="Project[projectName]" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <div class="row"><label for="numberOfStudent"
                                                                    class="col-form-label">Number
                                                                    of
                                                                    Student Per
                                                                    Group:</label></div>

                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="row">
                                                                            <label class="col-3"
                                                                                for="numberOfStudentMin"
                                                                                class="col-form-label">Min:</label>
                                                                            <div class="col-5"><input type="number"
                                                                                    class="form-control"
                                                                                    name="Project[numOfStudentMin]"
                                                                                    required min="1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="row">
                                                                            <label class="col-3"
                                                                                for="numberOfStudentMax"
                                                                                class="col-form-label">Max:</label>
                                                                            <div class="col-5"><input type="number"
                                                                                    class="form-control"
                                                                                    name="Project[numOfStudentMax]"
                                                                                    required min="1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="numberOfStudent" class="col-form-label">Group
                                                                Formation
                                                                Deadline:</label>
                                                            <input type="date" class="form-control"
                                                                name="Project[groupFormationDate]" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="numberOfStudent" class="col-form-label">Group
                                                                Project Submision
                                                                Date:</label>
                                                            <input type="date" class="form-control"
                                                                name="Project[projectSubmitDate]" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="message-text" class="col-form-label">Project
                                                                Description:</label>
                                                            <textarea class="form-control"
                                                                name="Project[projectDescription]" required></textarea>
                                                        </div>

                                                        <!-- <div class="mb-3">
                                                            <label for="message-text" class="col-form-label">Ways to
                                                                form group:</label>

                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="flexRadioDefault" id="flexRadioDefault1">
                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                    Let students organise their own groups
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="flexRadioDefault" id="flexRadioDefault2">
                                                                <label class="form-check-label" for="flexRadioDefault2">
                                                                    Assign groups to students randomly
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="flexRadioDefault" id="flexRadioDefault3">
                                                                <label class="form-check-label" for="flexRadioDefault3">
                                                                    Assign groups to students manually
                                                                </label>
                                                            </div>
                                                        </div> -->

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Create</button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>



</body>


<script>
    async function createForm(oFormElement) {

        var response = await fetch(oFormElement.action, {
            method: "POST",
            credentials: 'same-origin',
            headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
            //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });


        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            window.location = data.url;
            //location.reload(true);
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }

    };
</script>