<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= courseinfo.courseID %>: <%= courseinfo.courseName %>
            </li>
        </ol>
    </nav>

    <h4>Course Overview:</h4>

    <table class="table center table-bordered">

        <tbody>
            <tr>
                <th scope="row">Course Name</th>
                <td>
                    <%= courseinfo.courseName %>
                </td>
            </tr>
            <tr>
                <th scope="row">Course Code</th>
                <td>
                    <%= courseinfo.courseID %>
                </td>
            </tr>
            <tr>
                <th scope="row">Academic Year</th>
                <td>
                    <%= courseinfo.courseTerm %>
                </td>
            </tr>

            <tr>
                <th scope="row">Number of Section:</th>
                <td>
                    <%= courseinfo.numOfSection %>

                </td>
            </tr>

        </tbody>

    </table>



    <ul class="list-group list-group-horizontal-xl">

        <% courseinfo.haveSection.forEach( function(section){ %>

            <li class="list-group-item"><a href="/teacher/<%= userid %>/viewSection/<%= section.id %>">Section:
                    <%= section.sectionNum %>
                </a>
            </li>

            <% }); %>

    </ul>


    <br><br><br><br><br><br><br>



</body>


<style>
    /* .table {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    } */
</style>