<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage">Home</a></li>
            <li class="breadcrumb-item"><a href="/teacher/viewCourse/<%= sectioninfo.in[0].id %>">
                    <%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">Section <%= sectioninfo.sectionNum %>
            </li>
        </ol>
    </nav>

    <!-- Alert 1 -->
    <% if (sectioninfo.haveStudent.length==0 ) { %>

        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            <strong>No student in this section!</strong> You should add student in this section first.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <!-- Alert 2 -->
            <% if(sectioninfo.haveProject.length==0) { %>

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    No group project has been created at this moment.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <% } %>

                    <!-- Initialize Group Project Button -->
                    <button type="button" class="btn btn-outline-success mx-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-bs-target="#staticBackdrop"><svg
                            xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-lightning-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z" />
                        </svg> &nbsp;Initiate Group Project</button>

                    <a href="/teacher/section/<%= sectioninfo.id %>/participants" class="btn btn-outline-primary"><svg
                            xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                        </svg> &nbsp;Participants</a>


                    <!-- Alert 2 -->
                    <% if(sectioninfo.haveProject.length==0) { %>

                        <br><br><br><br><br><br><br><br><br>

                        <% } %>


                            <!-- Display project in this section (accordion) -->

                            <% if(sectioninfo.haveProject.length==0) { %>

                                <% } else { %>

                                    <div class="my-4">

                                        <% var i=0; %>

                                            <div class="accordion" id="accordionExample">

                                                <% sectioninfo.haveProject.forEach( function(project){ %>

                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="heading_<%= i %>">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapse_<%= i %>"
                                                                aria-expanded="false" aria-controls="collapse_<%= i %>">
                                                                <h3>
                                                                    <%= project.projectName %>
                                                                </h3>
                                                            </button>
                                                        </h2>

                                                        <% if (sectioninfo.haveProject.length==1) { %>
                                                            <div id="collapse_<%= i %>" class="accordion-collapse show"
                                                                aria-labelledby="heading_<%= i %>"
                                                                data-bs-parent="#accordionExample">
                                                                <% } else { %>

                                                                    <div id="collapse_<%= i %>"
                                                                        class="accordion-collapse collapse"
                                                                        aria-labelledby="heading_<%= i %>"
                                                                        data-bs-parent="#accordionExample">

                                                                        <% } %>

                                                                            <div class="accordion-body">

                                                                                <div class="row">
                                                                                    <div class="col-12">
                                                                                        <a href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= project.id %>"
                                                                                            class="btn btn-link"
                                                                                            style="float: right;">Edit
                                                                                            Project</a>
                                                                                    </div>

                                                                                </div>

                                                                                <dl class="row my-2">
                                                                                    <dt class="col-sm-4">Project
                                                                                        Description:
                                                                                    </dt>
                                                                                    <dd class="col-sm-8">
                                                                                        <%= project.projectDescription
                                                                                            %>
                                                                                    </dd>
                                                                                </dl>

                                                                                <dl class="row my-2">
                                                                                    <dt class="col-sm-4">Student Per
                                                                                        Group:
                                                                                    </dt>
                                                                                    <dd class="col-sm-8">
                                                                                        <%= project.numOfStudentMin %>
                                                                                            to <%=
                                                                                                project.numOfStudentMax
                                                                                                %>
                                                                                    </dd>
                                                                                </dl>

                                                                                <dl class="row my-2">
                                                                                    <dt class="col-sm-4">
                                                                                        Group Formation Due Date:
                                                                                    </dt>
                                                                                    <dd class="col-sm-8">
                                                                                        <%= new
                                                                                            Intl.DateTimeFormat('en-GB',
                                                                                            { dateStyle: 'medium' ,
                                                                                            timeStyle: 'short' ,
                                                                                            hour12: 'true'
                                                                                            }).format(project.groupFormationDate)
                                                                                            %>
                                                                                    </dd>
                                                                                </dl>

                                                                                <dl class="row my-2">
                                                                                    <dt class="col-sm-4">
                                                                                        Project Submission Due Date:
                                                                                    </dt>
                                                                                    <dd class="col-sm-8">
                                                                                        <%= new
                                                                                            Intl.DateTimeFormat('en-GB',
                                                                                            { dateStyle: 'medium' ,
                                                                                            timeStyle: 'short' ,
                                                                                            hour12: 'true'
                                                                                            }).format(project.projectSubmitDate)
                                                                                            %>
                                                                                    </dd>
                                                                                </dl>

                                                                                <br>

                                                                                <a href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= project.id %>/evaluation"
                                                                                    class="btn btn-success"
                                                                                    style="float: right; margin-left: 10px;">Peer
                                                                                    Evaluation</a>
                                                                                <a href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= project.id %>/viewProgress"
                                                                                    class="btn btn-primary"
                                                                                    style="float: right; ">Group
                                                                                    Formation
                                                                                    Progress</a>
                                                                                <br>
                                                                                <br>

                                                                            </div>

                                                                    </div>
                                                            </div>

                                                            <% i++; %>
                                                                <% }); %>

                                                    </div>

                                            </div>

                                            <% } %>

                                    </div>

                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true"
                                        data-bs-backdrop="static">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title w-100" id="exampleModalLabel">Initiate
                                                        Group
                                                        Project</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <form action="/createProject/<%= sectioninfo.id %>/<%= userid %>"
                                                    method="POST" onsubmit="createForm(this);return false"
                                                    class="was-validated">
                                                    <div class="modal-body" style="padding: 20px 50px;">

                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">Project
                                                                Name:</label>
                                                            <input type="text" class="form-control"
                                                                name="Project[projectName]" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <div class="row"><label for="numberOfStudent"
                                                                    class="col-form-label">Number
                                                                    of
                                                                    Student Per
                                                                    Group:</label></div>

                                                            <div class="container">
                                                                <div class="row"
                                                                    style="align-content: center; padding: 5px 50px;">
                                                                    <div class="col-6 my-2">
                                                                        <div class="row">
                                                                            <label class="col-3"
                                                                                for="numberOfStudentMin"
                                                                                class="col-form-label">Min:</label>
                                                                            <div class="col-9">
                                                                                <input type="number"
                                                                                    class="form-control"
                                                                                    style="width: 50%;"
                                                                                    name="Project[numOfStudentMin]"
                                                                                    required min="1" max="" id="minStu"
                                                                                    onchange="validateMinStu();">
                                                                                <div id="displayMinError"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6 my-2">
                                                                        <div class="row">
                                                                            <label class="col-3"
                                                                                for="numberOfStudentMax"
                                                                                class="col-form-label">Max:</label>
                                                                            <div class="col-9">
                                                                                <input type="number"
                                                                                    class="form-control"
                                                                                    style="width: 50%;"
                                                                                    name="Project[numOfStudentMax]"
                                                                                    required min="1" id="maxStu"
                                                                                    onchange="validateMaxStu();">
                                                                                <div id="displayMaxError"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="numberOfStudent" class="col-form-label">Group
                                                                Formation
                                                                Due Date:</label>
                                                            <input type="datetime-local" class="form-control"
                                                                name="formDate" onchange="validateFormationDate();"
                                                                max="" id="formationDate" required>
                                                            <div id="displayFDateError"></div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="numberOfStudent" class="col-form-label">Project
                                                                Submission
                                                                Due Date:</label>
                                                            <input type="datetime-local" class="form-control"
                                                                name="submitDate" id="submissionDate"
                                                                onchange="validateSubmissionDate();" min="" required>
                                                            <div id="displaySDateError"></div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="message-text" class="col-form-label">Project
                                                                Description:</label>
                                                            <textarea class="form-control"
                                                                name="Project[projectDescription]" required></textarea>
                                                        </div>

                                                        <!-- <div class="mb-3">
                                                            <label for="message-text" class="col-form-label">Ways to
                                                                form group:</label>

                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="flexRadioDefault" id="flexRadioDefault1"
                                                                    value="Let students organise their own groups">
                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                    Let students organise their own groups
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="flexRadioDefault" id="flexRadioDefault2"
                                                                    value="Assign groups to students randomly">
                                                                <label class="form-check-label" for="flexRadioDefault2">
                                                                    Assign groups to students randomly
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="flexRadioDefault" id="flexRadioDefault3"
                                                                    value="Assign groups to students manually">
                                                                <label class="form-check-label" for="flexRadioDefault3">
                                                                    Assign groups to students manually
                                                                </label>
                                                            </div>
                                                        </div> -->

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Create</button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>



</body>


<script>

    function validateFormationDate() {

        var fDate = document.getElementById("formationDate");

        var sDate = document.getElementById("submissionDate");

        fDate.max = sDate.value;

        var msg = "<div class='invalid-feedback'>Invalid date! Group Formation Due Date must be earlier than or equal to Submission Due Date.</div>";

        $('#displayFDateError').replaceWith(msg);

    }

    function validateSubmissionDate() {

        var fDate = document.getElementById("formationDate");

        var sDate = document.getElementById("submissionDate");

        sDate.min = fDate.value;

        var msg = "<div class='invalid-feedback'>Invalid date! Project Submission Due Date must be later than or equal to Group Formation Due Date.</div>";

        $('#displaySDateError').replaceWith(msg);

    }


    function validateMinStu() {

        var minS = document.getElementById("minStu");

        var maxS = document.getElementById("maxStu");

        minS.max = maxS.value;

        var msg = "<div class='invalid-feedback'>Min must be <span>&#8804;</span> Max</div>";

        $('#displayMinError').replaceWith(msg);

    }


    function validateMaxStu() {

        var minS = document.getElementById("minStu");

        var maxS = document.getElementById("maxStu");

        maxS.min = minS.value;

        var msg = "<div class='invalid-feedback'>Max must be <span>&#8805;</span> Min</div>";

        $('#displayMaxError').replaceWith(msg);

    }




    async function createForm(oFormElement) {

        var response = await fetch(oFormElement.action, {
            method: "POST",
            credentials: 'same-origin',
            headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
            //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });


        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            window.location = data.url;
            //location.reload(true);
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }

    };
</script>