<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage">Home</a></li>
            <li class="breadcrumb-item"><a href="/teacher/viewCourse/<%= sectioninfo.in[0].id %>">
                    <%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item"><a href="/teacher/viewSection/<%= sectioninfo.id %>">
                    Section <%= sectioninfo.sectionNum %>
                </a></li>
            <li class="breadcrumb-item"><a
                    href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/evaluation">
                    Peer Evaluation
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Edit Evaluation Event
            </li>
        </ol>
    </nav>

    <br>

    <div class="row">

        <h3 class="col-md-6"><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor"
                class="bi bi-info-circle text-info" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg> &nbsp;Edit Evaluation Event</h3>

        <div class="col-md-6 ms-auto">
            <button class="btn btn-outline-danger btn-sm" style="float: right;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg> &nbsp;Delete Evaluation Event</button>
        </div>

    </div>

    <div class="container" style="padding: 40px 150px;">

        <form method="POST" onsubmit="createForm(this);return false" class="was-validated">

            <div class="mb-4">
                <div class="form-group row">
                    <label for="example-title" class="col-4 col-form-label">Evaluation Name:</label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="EvalEvent[eventName]"
                            value="<%= eventInfo.eventName %>" required>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="form-group row">
                    <label for="message-text" class="col-4 col-form-label">Instruction:</label>

                    <div class="col-8">
                        <textarea class="form-control" name="EvalEvent[eventDes]" id="myTextarea" required></textarea>
                    </div>
                </div>
            </div>



            <div class="mb-4">
                <div class="form-group row">
                    <label for="message-text" class="col-4 col-form-label">Evaluation Template:</label>
                    <div class="col-8">

                        <% if (eventInfo.completedResponse.length>0) { %>

                            <select class="form-select form-select" name="chooseTempID" required disabled>
                                <option value="">Please choose an Evaluation Template:</option>
                                <% eTemplateInfo.createEvaluation.forEach( function(evaluation) { %>

                                    <% if(evaluation.name==eventInfo.use[0].name) { %>

                                        <option value="<%= evaluation.id %>" selected>
                                            <%= evaluation.name %>
                                        </option>

                                        <% } else { %>

                                            <option value="<%= evaluation.id %>">
                                                <%= evaluation.name %>
                                            </option>

                                            <% } %>

                                                <% }); %>
                            </select>


                            <% } else { %>

                                <select class="form-select form-select" name="chooseTempID" required>
                                    <option value="">Please choose an Evaluation Template:</option>
                                    <% eTemplateInfo.createEvaluation.forEach( function(evaluation) { %>

                                        <% if(evaluation.name==eventInfo.use[0].name) { %>

                                            <option value="<%= evaluation.id %>" selected>
                                                <%= evaluation.name %>
                                            </option>

                                            <% } else { %>

                                                <option value="<%= evaluation.id %>">
                                                    <%= evaluation.name %>
                                                </option>

                                                <% } %>

                                                    <% }); %>
                                </select>

                                <% } %>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="form-group row">
                    <label for="message-text" class="col-4 col-form-label">Due Date:</label>
                    <div class="col-8">
                        <input type="datetime-local" class="form-control" name="dueDate" id="date"
                            onchange="validateDueDate();" required>
                        <div id="displayDueDateError"></div>
                    </div>
                </div>
            </div>

            <div class="mb-4">

                <div class="form-group row">

                    <label for="message-text" class="col-4 col-form-label">Auto-Release
                        Result:</label>

                    <div class="col-2 my-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="autoRelease" id="e" value=""
                                onclick="changeStatus();">
                            <label class="form-check-label" for="e">
                                Enabled
                            </label>
                        </div>
                    </div>
                    <div class="col-2 my-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="autoRelease" id="d" value="" checked
                                onclick="changeStatus();">
                            <label class="form-check-label" for="d">
                                Disabled
                            </label>
                        </div>
                    </div>

                </div>

            </div>

            <div class="mb-4">
                <div class="form-group row">
                    <label for="message-text" class="col-4 col-form-label">Result Release Date:</label>
                    <div class="col-8">
                        <input type="datetime-local" class="form-control" name="releaseDate" id="date2"
                            onchange="validateReleaseDate();" required>
                        <div id="displayRDateError"></div>
                    </div>
                </div>
            </div>


            <br>

            <button type="submit" class="btn btn-primary mx-1" style="float: right;">Update</button>
            <a href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/evaluation"
                class="btn btn-secondary mx-1" style="float: right;">Return</a>

        </form>

        <br>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-danger w-100" id="exampleModalLabel">
                        Delete evaluation event </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to remove this evaluation event ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
                    <button type="button" class="btn btn-outline-danger" onclick="deleteEvent();">Delete
                        Event</button>
                </div>
            </div>
        </div>
    </div>

</body>


<script>


    document.getElementById("myTextarea").value = "<%= eventInfo.eventDes %>";


    // Display due date

    var timestamp = parseInt("<%= eventInfo.dueDate %>");

    dateObj = new Date(timestamp);

    var YYYY = dateObj.getFullYear();
    var MM = ('0' + (dateObj.getMonth() + 1)).slice(-2);
    var DD = ('0' + dateObj.getDate()).slice(-2);
    var hh = ('0' + dateObj.getHours()).slice(-2);
    var mm = ('0' + dateObj.getMinutes()).slice(-2);

    var dueDate = YYYY + "-" + MM + "-" + DD + "T" + hh + ":" + mm;

    document.getElementById("date").value = dueDate;


    // Display release date

    var timestamp2 = parseInt("<%= eventInfo.releaseDate %>");

    dateObj2 = new Date(timestamp2);

    var YYYY = dateObj2.getFullYear();
    var MM = ('0' + (dateObj2.getMonth() + 1)).slice(-2);
    var DD = ('0' + dateObj2.getDate()).slice(-2);
    var hh = ('0' + dateObj2.getHours()).slice(-2);
    var mm = ('0' + dateObj2.getMinutes()).slice(-2);

    var releaseDate = YYYY + "-" + MM + "-" + DD + "T" + hh + ":" + mm;

    document.getElementById("date2").value = releaseDate;


    // Handle the radio button

    var status = "<%= eventInfo.autoRelease %>";

    var enabled = document.getElementById("e");
    var disabled = document.getElementById("d");

    if (status == "Enabled") {

        enabled.checked = "checked";
        enabled.value = "Enabled"

    } else if (status == "Disabled") {

        disabled.checked = "checked";
        disabled.value = "Disabled"

    }


    // For radio button modification

    function changeStatus() {

        enabled.value = null;
        disabled.value = null;

        if (enabled.checked) {

            enabled.value = "Enabled";

        } else if (disabled.checked) {

            disabled.value = "Disabled";

        }

    }



    async function createForm(oFormElement) {

        var response = await fetch("/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/event/<%= eventInfo.id %>/editEventDetails", {
            method: "PATCH",
            credentials: 'same-origin',
            headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
            //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });


        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            window.location = data.url;
            //location.reload(true);
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }

    };

    // Validate dueDate and result release date

    function validateDueDate() {

        var fDate = document.getElementById("date");

        var sDate = document.getElementById("date2");

        fDate.max = sDate.value;

        var msg = "<div class='invalid-feedback'>Invalid date! Due Date must be earlier than or equal to Result Release Date.</div>";

        $('#displayDueDateError').replaceWith(msg);

    }

    function validateReleaseDate() {

        var fDate = document.getElementById("date");

        var sDate = document.getElementById("date2");

        sDate.min = fDate.value;

        var msg = "<div class='invalid-feedback'>Invalid date! Result Release Date must be later than or equal to Due Date.</div>";

        $('#displayRDateError').replaceWith(msg);

    }

    async function deleteEvent() {

        var response = await fetch("/section/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/removeEvent/<%= eventInfo.id %>", {
            method: "DELETE",
            credentials: 'same-origin',
        });

        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        }

    };


</script>