<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homepage">Home</a></li>
            <li class="breadcrumb-item"><a href="/student/viewProject/<%= sectioninfo.id %>">
                    <%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %> (Section <%=
                                sectioninfo.sectionNum %>)
                </a></li>
            <li class="breadcrumb-item"><a
                    href="/student/section/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/evaluationEvent">
                    <%= sectioninfo.haveProject[0].projectName %>
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= evalFormInfo.eventName %> - Result
            </li>
        </ol>
    </nav>


    <h3><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor"
            class="bi bi-check2-square text-success" viewBox="0 0 16 16">
            <path
                d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
            <path
                d="M8.354 10.354l7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
        </svg> &nbsp;Submitted Evaluation > Results > Group <%= members.groupNum %>
    </h3>



    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Peer evaluation result has been saved to your profile by default.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <br>

    <div class="container" style="padding: 10px 70px;">

        <h4><mark><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-people-fill text-danger" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg> &nbsp;Peer Evaluation Question</mark></h4>

        <% var n=0; %>

            <% evalFormInfo.evaluationTemp.peerEvaluation.forEach( function(q) { %>

                <div class="my-4" style="padding-left: 45px;">

                    <div class="my-3"><b style="font-size: large;"><u>Q<%= n+1 %>. <%= q.question %></u></b></div>

                    <div style="padding-left: 33px;">

                        <% evalFormInfo.completedResponse.forEach( function(c) { %>

                            <% c.formResponse.peerEvaluation.forEach( function(r) { %>

                                <% if(r.evaluatee==userid) { %>

                                    <div class="my-2" style="padding-left: 38px;">
                                        <figure class="text-start">
                                            <blockquote class="blockquote">
                                                <p>
                                                    <%= r.response[n].answer %>
                                                </p>
                                            </blockquote>
                                            <figcaption class="blockquote-footer">
                                                <!-- Anonymous feeback -->
                                                <cite title="Source Title">
                                                    Anonymous feeback
                                                    <!-- <%= sectioninfo.haveProject[0].projectName %> - (Group <%=
                                                        members.groupNum %>) -->
                                                </cite>
                                            </figcaption>
                                        </figure>

                                    </div>

                                    <% } %>



                                        <% }); %>

                                            <% }); %>


                    </div>




                    <br>

                    <% n++ %>

                </div>


                <% }); %>


    </div>


</body>

<style>
    b {
        color: #324880;
    }
</style>