<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewCourse/<%= sectioninfo.in[0].id %>">
                    <%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewSection/<%= sectioninfo.id %>">
                    Section <%= sectioninfo.sectionNum %>
                </a></li>
            <li class="breadcrumb-item"><a
                    href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/evaluation">
                    Peer Evaluation
                </a></li>

            <li class="breadcrumb-item"><a
                    href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/event/<%= eventid %>/viewEvaluationResult">
                    Results
                </a></li>

            <li class="breadcrumb-item"><a
                    href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/event/<%= eventid %>/group/<%= members.id %>">
                    Group <%= members.groupNum %>
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Overview
            </li>
        </ol>
    </nav>


    <h3 class="col-md-12"><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor"
            class="bi bi-calendar4-week text-info" viewBox="0 0 16 16">
            <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
            <path
                d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
        </svg> &nbsp;My Evaluation Event > Results > Group <%= members.groupNum %>
    </h3>

    <br>

    <div class="container" style="padding: 5px 70px;">




        <h4><mark><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-people-fill text-danger" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg> &nbsp;Peer Evaluation Question</mark></h4>

        <% var n=0; %>

            <% evalFormInfo.evaluationTemp.peerEvaluation.forEach( function(q) { %>

                <div class="my-4" style="padding-left: 45px;">

                    <div class="my-2"><b><u>Q<%= n+1 %>. <%= q.question %></u></b></div>

                    <br>

                    <% members.createdBy.forEach( function(m) { %>
                        <div style="padding-left: 33px;">

                            <h5>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-person-check-fill text-danger" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    <path
                                        d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>&nbsp; <%= m.fullName %> (<%= m.givenId %>)
                            </h5>

                            <% evalFormInfo.completedResponse.forEach( function(c) { %>

                                <% c.formResponse.peerEvaluation.forEach( function(r) { %>

                                    <% if(r.evaluatee==m.id) { %>

                                        <div class="my-2" style="padding-left: 38px;">
                                            <figure class="text-start">
                                                <blockquote class="blockquote">
                                                    <p>
                                                        <%= r.response[n].answer %>
                                                    </p>
                                                </blockquote>
                                                <figcaption class="blockquote-footer">
                                                    Response from
                                                    <cite title="Source Title">
                                                        <%= c.evaluatorInfo.fullName %>
                                                    </cite>
                                                </figcaption>
                                            </figure>

                                        </div>

                                        <% } %>



                                            <% }); %>

                                                <% }); %>

                                                    <br>
                        </div>

                        <% }); %>


                            <br>

                            <% n++ %>

                </div>


                <% }); %>




                    <br>

                    <h4><mark><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                class="bi bi-person-fill text-primary" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg> &nbsp;Self Evaluation Question</mark></h4>

                    <% var i=0; %>

                        <% evalFormInfo.evaluationTemp.selfEvaluation.forEach( function(q) { %>

                            <div class="my-4" style="padding-left: 45px;">

                                <div class="my-2"><b><u>Q<%= i+1 %>. <%= q.question %></u></b></div>

                                <br>

                                <% members.createdBy.forEach( function(m) { %>

                                    <div style="padding-left: 33px;">

                                        <h5><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                fill="currentColor" class="bi bi-person-check-fill text-primary"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                                <path
                                                    d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            </svg>&nbsp; <%= m.fullName %> (<%= m.givenId %>)
                                        </h5>


                                        <% evalFormInfo.completedResponse.forEach( function(c) { %>

                                            <% if (c.evaluator==m.id) { %>

                                                <div class="my-2" style="padding-left: 38px;">

                                                    <%= c.formResponse.selfEvaluation[i].answer %>

                                                </div>



                                                <% } %>

                                                    <% }); %>

                                                        <br>

                                    </div>

                                    <% }); %>

                                        <br>
                                        <br>


                                        <% i++ %>

                            </div>

                            <% }); %>

    </div>

</body>

<style>
    b {
        color: #324880;
        font-size: large;
    }
</style>