<body>

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/teacher/homepage/<%= userid %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewCourse/<%= sectioninfo.in[0].id %>">
                    <%= sectioninfo.in[0].courseID %>: <%= sectioninfo.in[0].courseName %>
                </a></li>
            <li class="breadcrumb-item"><a href="/teacher/<%= userid %>/viewSection/<%= sectioninfo.id %>">
                    Section <%= sectioninfo.sectionNum %>
                </a></li>
            <li class="breadcrumb-item"><a
                    href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/evaluation">
                    Peer Evaluation
                </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Results
            </li>
        </ol>
    </nav>


    <h3 class="col-md-12"><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor"
            class="bi bi-calendar4-week text-info" viewBox="0 0 16 16">
            <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
            <path
                d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
        </svg> &nbsp;My Evaluation Event > Results</h3>

    <table class="table table-bordered">
        <thead style="vertical-align: middle;">
            <tr class="table-secondary">
                <th scope="col" span="1" style="text-align: center;">Group</th>
                <th scope="col" span="1" style="text-align: center;">Completion Ratio
                </th>
                <th scope="col" span="1" style="text-align: center;">View
                </th>
            </tr>
        </thead>
        <tbody>

            <% if(groupInfo.length> 0) { %>

                <% groupInfo.forEach( function(group) { %>

                    <tr>
                        <td style="text-align:center">
                            Group <%= group.groupNum %>
                        </td>
                        <td style="text-align:center">
                            <%= group.haveResponse.length %> / <%= group.createdBy.length %>
                        </td>
                        <td style="text-align:center">
                            <a
                                href="/teacher/viewSection/<%= sectioninfo.id %>/project/<%= sectioninfo.haveProject[0].id %>/event/<%= eventid %>/group/<%= group.id %>">
                                Results
                            </a>
                        </td>
                    </tr>

                    <% }); %>

                        <% } else { %>

                            <tr>
                                <td colspan="3" style="text-align: center;">
                                    No evaluation result at this moment.
                                </td>
                            </tr>

                            <% } %>


        </tbody>
    </table>



    <% if (groupInfo.length < 3 ) { %>

        <br><br><br><br><br><br><br><br>

        <% } %>




</body>